html #application.dark, body #application.dark
  background #121212

.dark-icon
  fill: #FFF9C4

#application.dark  
  h1, h2, h3, h4, h5, p, span, small
    color #f3f5fa

  .created-at-icon, .updated-at-icon
    fill: #f3f5fa

  .card, .ctf_content, .sidebar section
    background #2f2f3f

    &:hover, &:focus, &:active
      &:after
        background: #fcfcfc11;
        color: #f3f5fa;
