html #application:not(.dark), body #application:not(.dark)
  background #f3f5fa
  color #121212

  a
    color #121212

.light-icon
  fill: #F57F17

#application:not(.dark):not(code)  
  .created-at-icon, .updated-at-icon
    fill: #121212

  .card, .ctf_content, .sidebar section
    background #fcfcfc

    &:hover, &:focus, &:active
      &:after
        background: #2221;
        color: #121212;
