html, body
  font-size 20px

html, body, h1, h2, h3, h4, h5
  font-family 'New Tegomin', sans-serif !important
  margin 0

body
  margin 0

a
  text-decoration none

.text-center
  text-align center

.flex
  display flex

.inline-flex
  display inline-flex

.hidden-text
  width 1px
  height 1px
  overflow hidden
  clip rect(1px 1px 1px 1px)

#__nuxt, #__layout
  height 100%

.icon
  svg 
    width 24px
    height 24px
    